<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <title>HOME PAGE</title>
        <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "/public/css/web.css" rel = "stylesheet" type = "text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!--Melee CSS which is the background-->
        <video autoplay muted loop id = "meleeBackground">
            <source src = "/public/videos/CSS.mp4" type = "video/mp4">
        </video>

        <div class = "row">
            <div class = "mx-auto">
                <img src="https://fontmeme.com/permalink/200829/bec5e86d3cf5999b503e05716cc38266.png" alt="super-smash-bros-font">
            </div>
        </div>

        <div class = "bodytext">
            <p>Select a character to view tournament sets!</p>
        </div>
        <!--Character Selection screen-->
        <div>
            <form action="/characterSearch" method="POST" class="col-xl-8 mx-auto">
                <div class = "row meleerow mx-auto">
                    <button name = "character" value = "dr mario">
                        <img class = "characterSelect" src="/public/images/Portraits/drMario.png">
                    </button>
                    <button name = "character" value = "mario">
                        <img class = "characterSelect" src = "/public/images/Portraits/mario.png">
                    </button>
                    <button name = "character" value = "luigi">
                        <img class = "characterSelect" src = "/public/images/Portraits/luigi.png">
                    </button>
                    <button name = "character" value = "bowser">
                        <img class = "characterSelect" src = "/public/images/Portraits/bowser.png">
                    </button>
                    <button name = "character" value = "peach">
                        <img class = "characterSelect" src = "/public/images/Portraits/peach.png">
                    </button>
                    <button name = "character" value = "yoshi">
                        <img class = "characterSelect" src = "/public/images/Portraits/yoshi.png">
                    </button>
                    <button name = "character" value = "donkey kong">
                        <img class = "characterSelect" src = "/public/images/Portraits/dk.png">
                    </button>
                    <button name = "character" value = "captain falcon">
                        <img class = "characterSelect" src = "/public/images/Portraits/falcon.png">
                    </button>
                    <button name = "character" value = "ganondorf">
                        <img class = "characterSelect" src = "/public/images/Portraits/ganon.png">
                    </button>
               </div>
               <div class = "row meleerow mx-auto">
                    <button name = "character" value = "falco">
                        <img class = "characterSelect" src = "/public/images/Portraits/falco.png">
                    </button>
                    <button name = "character" value = "fox">
                        <img class = "characterSelect" src = "/public/images/Portraits/fox.png">
                    </button>
                    <button name = "character" value = "ness">
                        <img class = "characterSelect" src = "/public/images/Portraits/ness.png">
                    </button>
                    <button name = "character" value = "ice climbers">
                        <img class = "characterSelect" src = "/public/images/Portraits/ics.png">
                    </button>
                    <button name = "character" value = "kirby">
                        <img class = "characterSelect" src = "/public/images/Portraits/kirby.png">
                    </button>
                    <button name = "character" value = "samus">
                        <img class = "characterSelect" src = "/public/images/Portraits/samus.png">
                    </button>
                    <button name = "character" value = "sheik">
                        <img class = "characterSelect" src = "/public/images/Portraits/zelda.png">
                    </button>
                    <button name = "character" value = "link">
                        <img class = "characterSelect" src = "/public/images/Portraits/link.png">
                    </button>
                    <button name = "character" value = "young link">
                        <img class = "characterSelect" src = "/public/images/Portraits/ylink.png">
                    </button>
               </div>
               <div class = "row meleerow meleelastrow mx-auto">
                    <button name = "character" value = "pichu">
                        <img class = "characterSelect" src = "/public/images/Portraits/pichu.png">
                    </button>
                    <button name = "character" value = "pikachu">
                        <img class = "characterSelect" src = "/public/images/Portraits/pikachu.png">
                    </button>
                    <button name = "character" value = "jigglypuff">
                        <img class = "characterSelect" src = "/public/images/Portraits/puff.png">
                    </button>
                    <button name = "character" value = "mewtwo">
                        <img class = "characterSelect" src = "/public/images/Portraits/mewtwo.png">
                    </button>
                    <button name = "character" value = "mr game & watch">
                        <img class = "characterSelect" src = "/public/images/Portraits/gameAndWatch.png">
                    </button>
                    <button name = "character" value = "marth">
                        <img class = "characterSelect" src = "/public/images/Portraits/marth.png">
                    </button>
                    <button name = "character" value = "roy">
                        <img class = "characterSelect" src = "/public/images/Portraits/roy.png">
                    </button>
               </div>
            </form>
            <!--Below where the characters are shown is where the search results will pop up-->
            <!--MODAL THAT WILL POP UP WHEN CLICKED-->
            <% if(searchQuery == null) { %>
                <% } else { %>
                <div class =  "videoResults mx-auto">
                        <%for(var i = 0; i < searchQuery.length; i++) {%>
                            <div class = "row videoRow">
                                <div class = "col-auto">
                                    <a href = "https://www.youtube.com/watch?v=<%=searchQuery[i].id.videoId%>" target = "_blank">
                                        <img src = "https://img.youtube.com/vi/<%=searchQuery[i].id.videoId%>/default.jpg">
                                    </a>
                                </div>
                                <div class = "col-md">
                                    <a href = "https://www.youtube.com/watch?v=<%=searchQuery[i].id.videoId%>" target = "_blank"><%=searchQuery[i].snippet.title %></a>
                                    <p>Channel: <%=searchQuery[i].snippet.channelTitle%></p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
    </body>
</html>