<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <meta charset = "utf-8">
        <meta name = "viewport" content = "width = device-width, initial-scale=1">
        <title>HOME PAGE</title>
        <link href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel = "stylesheet">
        <link href = "/public/css/web.css" rel = "stylesheet" type = "text/css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class = "row">
            <div class = "col-md-5 col-md-offset-2">
                <img src="https://fontmeme.com/permalink/200829/bec5e86d3cf5999b503e05716cc38266.png" alt="super-smash-bros-font">
            </div>
        </div>
        <p>Select a character to view tournament sets!</p>
        <ul class="characterSelect" id="characterSelect>">
            <form action="/characterSearch" method="POST">
                <div class = "row meleerow">
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "dr mario">
                        <li><img src="/public/images/Portraits/drMario.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "mario">
                        <li><img src = "/public/images/Portraits/mario.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "luigi">
                        <li><img src = "/public/images/Portraits/luigi.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "bowser">
                        <li><img src = "/public/images/Portraits/bowser.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "peach">
                        <li><img src = "/public/images/Portraits/peach.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "yoshi">
                        <li><img src = "/public/images/Portraits/yoshi.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "donkey kong">
                        <li><img src = "/public/images/Portraits/dk.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "captain falcon">
                        <li><img src = "/public/images/Portraits/falcon.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "ganondorf">
                        <li><img src = "/public/images/Portraits/ganon.png"></li>
                    </button>
               </div>
               <div class = "row meleerow">
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "falco">
                        <li><img src = "/public/images/Portraits/falco.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "fox">
                        <li><img src = "/public/images/Portraits/fox.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "ness">
                        <li><img src = "/public/images/Portraits/ness.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "ice climbers">
                        <li><img src = "/public/images/Portraits/ics.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "kirby">
                        <li><img src = "/public/images/Portraits/kirby.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "samus">
                        <li><img src = "/public/images/Portraits/samus.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "zelda/sheik">
                        <li><img src = "/public/images/Portraits/zelda.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "link">
                        <li><img src = "/public/images/Portraits/link.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "young link">
                        <li><img src = "/public/images/Portraits/ylink.png"></li>
                    </button>
               </div>
               <div class = "row meleelastrow">
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "pichu">
                        <li><img src = "/public/images/Portraits/pichu.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "pikachu">
                        <li><img src = "/public/images/Portraits/pikachu.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "jigglypuff">
                        <li><img src = "/public/images/Portraits/puff.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "mewtwo">
                        <li><img src = "/public/images/Portraits/mewtwo.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "mr game & watch">
                        <li><img src = "/public/images/Portraits/gameAndWatch.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "marth">
                        <li><img src = "/public/images/Portraits/marth.png"></li>
                    </button>
                    <button data-toggle = "modal" data-target = "#drMario" name = "character" value = "roy">
                        <li><img src = "/public/images/Portraits/roy.png"></li>
                    </button>
               </div>

            <!--MODAL THAT WILL POP UP WHEN CLICKED-->
                <div class = "modal" id = "drMario" class = "collapsee">
                    <% if(searchQuery != null) { %>
                        <%for(var i = 0; i < searchQuery.length; i++) {%>
                            <div class = "row">
                                <div class = "col-auto">
                                    <a href = "https://www.youtube.com/watch?v=<%=searchQuery[i].id.videoId%>" target = "_blank">
                                        <img src = "https://img.youtube.com/vi/<%=searchQuery[i].id.videoId%>/default.jpg">
                                    </a>
                                </div>
                                <div class = "col-md">
                                    <a href = "https://www.youtube.com/watch?v=<%=searchQuery[i].id.videoId%>" target = "_blank"><%=searchQuery[i].snippet.title %></a>
                                    <p><%=searchQuery[i].snippet.channelTitle%></p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                </div>
                </form>
        </ul>
    </body>
</html>